@{
    ViewBag.Title = "About";
}

<h1>Welcome to the Learn Japanese Web Application!</h1>
<br />
<p>
    This site is an introductory to the 3 character sets(Hiragana, Katakana, and Kanji) that are used in Japanese.
    Initially, there is only the Hiragana set and later the others will be added. Hiragana is broken up into smaller sets
    based on the beginning letter, execpt for the vowels set.
</p>

<br />
<br />

<h2>How to Understand the Cards</h2>
<br />
<p>From top to bottom, each card has the character(Hiragana symbol), what syllable it represents in English(Romanji), and how it's pronounced.</p>
<div style="margin-top: 70px;">
    <img src="~/Content/Images/example.jpg" height="400" width="300" style="display: block; margin-left: auto; margin-right: auto; border: 3px solid; border-color: darkgray;" />
</div>
